body {
    padding: 0px;
    font-family: 'Dancing Script', cursive;
    background-image: linear-gradient(to right, pink, mistyrose);
}

.titl {
    margin: 0px;
    text-align: center;
    font-size: 70px;
    color: palevioletred;
}
.pretitl {
    margin: 0px;
    text-align: center;
    font-size: 50px;
    color: palevioletred;
}

.sample {
    margin: 0px;
    font-size: 30px;
    color: palevioletred;
}
.codetext {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
    font-style: bold;
    color: antiquewhite;
    margin: 0;
    padding: 0;
    display: block;
}

.code {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: inline-block;
    background-color: lightslategray;
    text-align: left;
    padding: 20px;
    display: inline-block;
    
}
a {
    color: plum;
}